@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
} 

#root {
    margin: 0 auto;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

#pictures {
    height: 80px;
    width: 100px;
    padding: 1em
}

.content-box {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 70%;
    height:fit-content;
    float: right;
    margin-top: 3em;
    margin-right: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .marqueeBox {
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;

  }

  .sortingTab {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;

  }